<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="main">

    <!-- Specify fields to be displayed -->
    {{ data.text }}<br/>
    <a href="{{ data.id }}/update">Update</a>
    <a href="{{ data.id }}/delete">Delete</a>
    <a href="/app">Back</a>

</div>
</body>
</html>